@import "normalize";
@import "variables";

.stats {
  position: relative;

  &__bar {
    border-radius: $border-radius;
    height: 60px;
    width: 100%;
    overflow: hidden;
    background-size: 80px auto;
    background-repeat: no-repeat;
    background-position: 94% 30%;

    @media (min-width: $desktop-sm) {
      height: 70px;
    }
  }

  &__data {
    margin-top: -20px;
    border-radius: $border-radius;
    background-color: $dark-blue;
  }
}

.data {
  height: 120px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 8%;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    background-color: darken($desaturated-blue, 20%);
  }

  @media (min-width: $mobile-md) {
    height: 180px;
  }

  @media (min-width: $desktop-sm) {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    height: calc(100% - 50px);
    padding: 10%;
  }

  &__title {
    grid-area: 1/1;
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__numbers {
    grid-area: 2/1;

    @media (min-width: $desktop-sm) {
      grid-area: 2/1/3/3;
      align-self: end;
      padding-bottom: 10px;
    }
  }

  &__more {
    grid-area: 1/2;
    justify-self: end;
    align-self: center;
    position: absolute;
    top: calc(60px + 8%);
    right: calc(8% - 5px);
    box-sizing: content-box;
    padding: 5px;
    height: 5px;
    width: 21px;
    transition: 0.2s;

    @media (min-width: $mobile-md) {
      top: 100px;
    }

    @media (min-width: $desktop-sm) {
      right: calc(10% - 5px);
      top: 80px;
    }

    &:hover {
      cursor: pointer;
    }
    &:hover &--normal {
      opacity: 0;
    }

    &--normal {
      position: absolute;
      z-index: 2;
    }

    &--white {
      position: absolute;
    }
  }

  &__last-period {
    grid-area: 2/2;
    justify-self: end;
    color: $pale-blue;
    font-size: 1.4rem;
    font-weight: 400;

    @media (min-width: $desktop-sm) {
      grid-area: 3/1/4/3;
      justify-self: start;
      padding-bottom: 10px;
    }
  }
}

#work {
  background-color: $work;
}

#play {
  background-color: $play;
}

#study {
  background-color: $study;
}

#exercise {
  background-color: $exercise;
}

#social {
  background-color: $social;
}

#self-care {
  background-color: $self-care;
}
